<ion-header>
  <ion-toolbar>
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-text class="ion-text-center" color="primary"><h1>Renouveler mon mot de passe</h1></ion-text>
    
    
    <form [formGroup]="lostPasswordForm" (ngSubmit)="submitForm()" novalidate>
        <ion-item lines="full" hidden>
          <ion-input formControlName="login" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full" hidden>
          <ion-input formControlName="rp_key" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Nouveau mot de passe</ion-label>
          <ion-input formControlName="pass1" type="password" required></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block">Envoyer</ion-button>
          </ion-col>
        </ion-row>
      </form>
</ion-content>
