<ion-header>
  <ion-toolbar>
    <ion-title>Postuler à l'offre d'emploi</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/offres-emploi"></ion-back-button>
      </ion-buttons>    
  </ion-toolbar>
</ion-header>


<ion-content>
    
    <ion-text class="ion-text-center" color="primary" *ngIf="offreEmploi$ | async as offreEmploi;"><h2 [innerHTML]="offreEmploi.title.rendered"></h2></ion-text>
    
    
    <div class="ion-padding">
        <ion-text *ngIf="offreEmploi$ | async as offreEmploi;">Vérifier mes informations avant de postuler</ion-text>
    </div>
    
  
    <form [formGroup]="postulerOffreEmploiForm" (ngSubmit)="submitForm()" novalidate>
        <ion-item lines="full" hidden>
          <ion-input formControlName="parent_id" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full" hidden>
          <ion-input formControlName="relationship" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Nom</ion-label>
          <ion-input formControlName="nom" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Prénom</ion-label>
          <ion-input formControlName="prenom" type="text" required></ion-input>
        </ion-item>  
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Téléphone</ion-label>
          <ion-input formControlName="telephone" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
            <label for="cv-file-input">Joindre un C.V</label>
            <div class="input_wrapper">
                <ion-input formControlName="cv" type="file" (change)="file_input_change($event)" id="cv-file-input" accept="application/pdf"></ion-input>
                <!--<input type="file" (change)="file_input_change($event)" id="cv-file-input" accept="application/pdf" name="cv">-->
                <div class="file-dummy"><span class="success">Fichier sélectionné</span></div>
            </div>    
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block">Envoyer</ion-button>
          </ion-col>
        </ion-row>
      </form>
</ion-content>

