<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="offres-emploi">
      <ion-icon name="flash-outline"></ion-icon>
      <ion-label>Emploi</ion-label>
      <ion-badge color="tertiary">6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="formations">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Formations</ion-label>
    </ion-tab-button>

      
    <ion-tab-button tab="candidatures">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <ion-label>Candidatures</ion-label>
    </ion-tab-button>
      
    <ion-tab-button tab="tab4">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>  
  </ion-tab-bar>

</ion-tabs>
