<ion-content style="height: 100%" class="ion-padding black-background">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column; justify-content: center;">
        <ion-text color="secondary" class="ion-text-center" style="margin-bottom: 40px;">
          <img src="../../assets/logo-runjob.png" class="inline-center"/>
          <h1>Bienvenue sur RunJob</h1>  
        </ion-text>
        <ion-button color="primary" class="inline-center" (click)="navigateToLogin()" size="large" style="margin-bottom: 40px;">Entrer</ion-button>  
    </ion-row>
  </ion-grid>  
</ion-content>

  