<ion-header>
  <ion-toolbar>
    <ion-title>Formation</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/formations"></ion-back-button>
      </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="formation$ | async as formation; else elseBlock" >
      <!--<img *ngIf="formation.image" src="{{ formation.image }}" /> -->
      <ion-card-header>
        <ion-item *ngIf="formation.postule" class="icon_postule_wrapper" lines="none">
          <ion-icon size="large" name="paper-plane-outline" color="primary" slot="end"></ion-icon>
        </ion-item>    
        <ion-card-subtitle>Formation publiée le {{ formation.date | date: 'd MMMM yyyy' }}</ion-card-subtitle>
        <ion-card-title color="primary" [innerHTML]="formation.title.rendered"></ion-card-title>
      </ion-card-header>
        
      <ion-card-content>
        <p *ngIf="formation['toolset-meta']['details-formation']['date-de-debut'].formatted"><ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp;<span>{{ formation['toolset-meta']['details-formation']['date-de-debut'].formatted | date: 'd MMMM yyyy'}}</span></p>
        
        <div style="display: inline-block; width: 100%;">  
            <ion-button color="primary" (click)="onViewPostulerFormation()" class="right" [disabled]="formation.postule=='postule'">
              <ion-icon name="paper-plane-outline"></ion-icon>&nbsp;Postuler    
            </ion-button>  
        </div>    
          
        <ion-text *ngIf="formation.postule == 'postule'" class="ion-text-end" color="primary">
            <p>Tu as déjà postulé à cette formation. Retrouve toutes tes candidatures dans <ion-router-link href="/tabs/candidatures">l'onglet Candidatures</ion-router-link>.</p>
        </ion-text>        
        <br><br>
          
      </ion-card-content>
    </ion-card>
    <ng-template #elseBlock>
        <div class="spin-wrapper">
            <ion-spinner color="primary"></ion-spinner>
        </div>    
    </ng-template>
</ion-content>
